{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="butt btn btn-secondary border-secondary">{{ button_label|default('Enregistrer') }}<i class="ms-1 bi bi-check-lg"></i></button>
{{ form_end(form) }}
    