{% extends 'base.html.twig' %}

{% block title %}Edit Recomendations
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="navbar">
			<div class="menu">
				<h3 class="logo">
					<a class="lorder" href="/"><img src="{{ asset('build/images/favicon.png') }}" class="rounded m-2" alt="DanTravels" width="50" height="44"></a>Dan<span>Travels</span>
				</h3>
				<div class="hamburger-menu">
					<div class="bar"></div>
				</div>
			</div>
		</div>

		<div class="main-container-fluid">
			<div class="main">
				<header>
					<div class="overlay">
						<div>
							<h2 class="text-center text-primary mb-5 ms-5 w-75">Modifier le Recomendation</h2>


							<div class="inner">
								<div class="mb-5">
									<a href="{{ path('app_admin_reco_index') }}" class="btn btn-primary d-block mx-auto w-50">Retour à la liste</a>
								</div>
								{{ include('admin_reco/_form.html.twig', {'button_label': 'Update'}) }}


							</div>
						</div>
					</div>
				</header>
			</div>
			<div class="shadow one"></div>
			<div class="shadow two"></div>
			{% block header %}
				{% include 'components/_navbar.html.twig' %}
			{% endblock %}
		</div>

	{% endblock %}
