
.card
{
  background-color: #485461;
  width: 30rem;
}
.card-body
{
  
  background-color: #28313b;
  border:solid 0.5px;
  border-color: #28313b;
}

.myCard
{
  text-align: center;
  color: #fff;
  padding: 0 2rem;
}