@import "variables.scss";

.butt {
    margin-top: 1rem;
    padding: 0.6rem 1.8rem;
    background-color: rgba(43, 51, 59, 0.8);
    border: solid 4px;
    border-radius: 25px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
  }

  .inners {
    max-width: 50rem;
    text-align: center;
    color: #fff;
    padding: 0 2rem;
  }