{% block body %}
	<div class="container-fluid">
		<div class="navbar">
			<div class="menu">
				<h3 class="logo">Dan<span>Travels</span>
				</h3>
				<div class="hamburger-menu">
					<div class="bar"></div>
				</div>
			</div>
		</div>

		<div class="main-container-fluid">
			<div class="main">
				<header>
					<div class="overlay">
						<div>
						<h2 class="text-center text-primary mb-5">À propos de moi</h2>
							

							<div class="inner">
									


								
							</div>
						</div>
					</div>
				</header>
			</div>
			<div class="shadow one"></div>
			<div class="shadow two"></div>
			{% block header %}
				{% include 'components/_navbar.html.twig' %}
			{% endblock %}
		</div>

	{% endblock %}
