<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ asset('build/images/dan.jpg') }}" alt="Card image cap">
  <div class="card-body m-0">
    <h5 class="card-title">Location</h5>
    <p class="card-text">addresse</p>
    <p class="card-text">date</p>
    <p class="card-text">country</p>
    <a href="#" class="btn btn-primary">Find out More!</a>
  </div>
</div>