<div class="card ">
	<img class="card-img-top w-100" src="{{ asset('build/images/cork.jpg') }}" alt="Card image cap">
	<div class="card-body m-0">
		<h5 class="card-title">{{ recomendation.activity }}</h5>
		<p class="card-text">{{ recomendation.address }}</p>
		<p class="card-text">{{ recomendation.description }}</p>
	</div>
</div>