<div class="card">
  <img class="card-img-top w-100" src="{{ asset('build/images/cork.jpg') }}" alt="Card image cap">
  <div class="card-body m-0">
    <h5 class="card-title">{{ travel.location }}</h5>
    <p class="card-text">{{ travel.date ? travel.date|date('d-m-Y') : '' }}</p>
    <p class="card-text">{{ travel.country }}</p>
    <a href="#" class="btn btn-primary">Find out More!</a>
  </div>
</div>  