<div class="links">
			<ul>
				<li><a href="/" style="--i: 0.05s;"><span></span>Accueil</a></li>
				<li><a href="/about" style="--i: 0.1s;"><span></span>A Propos de moi</a></li>
				<li><a href="#" style="--i: 0.15s;"><span></span>Mes Voyages</a></li>
				<li><a href="#" style="--i: 0.2s;"><span></span>Mes Recomandations</a></li>
				<li><a href="#" style="--i: 0.25s;"><span></span>Vous avez faim?</a></li>
				<li><a href="#" style="--i: 0.3s;"><span></span>Contact</a></li>
			</ul>
		</div>